html, body, .tabcon{
    overflow: unset !important;
}

#meta {
    position: unset !important;
}

td, th {
    padding: 3px 5px;
    font-size: 1rem;
}

.gray-out {
    opacity: 0.25;
    background-color: gray;
}

.tt-hidden {
    display: none;
}

#tt-table {
    font-size: 1rem;
    border-collapse: collapse;
    width: 100%;
    position: relative;
    overflow: auto;
    box-sizing: border-box;
}

#tt-table .tt-td, #tt-table .tt-th {
    border: none !important;
    box-shadow: inset 0 0 0 0.5px #404040FF;
    padding: 4px;
    background-clip: padding-box;
}

#tt-table .tt-th {
    font-family: 'Value Sans', sans-serif;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    background-color: #ddffff;
    color: black;
    position: sticky;
    top: 0;
}

.wrap {
    max-width: 80vw;
}

.fs-font-size {
    font-size: 0.8em;
}

.cell-item {
    font-size: 0.9em;
    line-height: 1.2em;
}

.tt-block {
    background-color: #bfbfbf;
}